{% extends '/App/base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

  <h2>Upload a PDF file</h2>
  <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" id="fileInput" name="file" accept="application/pdf">
      <button type="submit">Upload</button>
  </form>
  <div id="result"></div>

<h2>Uploaded Files</h2>
<ul id="fileList"></ul>
</section>

<script>
$(document).ready(function () {
  function loadFiles() {
      $.ajax({
          url: '/files/',
          type: 'GET',
          success: function (files) {
              $('#fileList').empty();
              files.forEach(function (file) {
                  $('#fileList').append('<li>' + file.name + '</li>');
              });
          },
          error: function (jqXHR, textStatus, errorThrown) {
              $('#fileList').html('<p>Error loading files.</p>');
          }
      });
  }

  $('#uploadForm').submit(function (event) {
      event.preventDefault();

      var formData = new FormData();
      var fileInput = $('#fileInput')[0].files[0];
      formData.append('file', fileInput);

      $.ajax({
          url: '/upload/',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
              $('#result').html('<p>File uploaded successfully: ' + response.filename + '</p>');
              loadFiles(); // 파일 업로드 후 파일 리스트 갱신
          },
          error: function (jqXHR, textStatus, errorThrown) {
              $('#result').html('<p>Error: ' + jqXHR.responseText + '</p>');
          }
      });
  });

  // 페이지 로드 시 파일 리스트를 불러옴
  loadFiles();
});
</script>
{% endblock %}
