<!DOCTYPE html>
<html>
{% include '/App/include/head.html' %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include '/App/include/main-header.html' %}
  {% include '/App/include/main-sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{title}}
        <small>{{subtitle}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">{{category}}</a></li>
        <li class="active">{{submenu}}</li>
      </ol>
    </section>

    {% block content %}{% endblock %}
  </div>
  <!-- /.content-wrapper -->

  {% include '/App/include/main-footer.html' %}
  {% include '/App/include/control-sidebar.html' %}

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{% include '/App/include/footer.html' %}
</body>
</html>
